<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457692198869-k3hua2in7mmjbt41408ffqkshja1c531.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457692198869-k3hua2in7mmjbt41408ffqkshja1c531</string>
	<key>API_KEY</key>
	<string>AIzaSyDHT7lKqYMo41s9d4I0hS9mwPIJm7SCT1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>457692198869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.diggle.apps.zimbirds</string>
	<key>PROJECT_ID</key>
	<string>zim-birds</string>
	<key>STORAGE_BUCKET</key>
	<string>zim-birds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457692198869:ios:216d9d0408fb163e4aaf5c</string>
</dict>
</plist>